/*
	cdap styles
	important: these should be namespaced
	example:
		let's say you are creating an app called "calculator"; you should prefix all your styles with your application's name like so

		.calculator img {
			border: 1px solid #000;
		}
		.calculator p {
			margin: 10px 0;
		}
		etc...

	other notes:
	* don't use ids - there may be more than one of your apps open; use classes!
	* the toolbar element is absolutely positioned and 100% wide (and therefor 0px high);
	  any elements inside it should also be absolutely positioned
*/

.cdap img.cdap_icon {
	width: 55px;
	height: 55px;
	position: absolute;
	top: 27px;
	left: 3px;
}

.cdap .panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.cdap .panel-heading a.collapsed:after {
    content:"\e080";
}

/*
Customized CSS style
*/

.acl-heading {
    margin-top: 0px;
    padding-top: 0px;
    word-wrap: break-word;
    display: None;
}

#jstree {
    margin-top:5px;
}

.row-fluid .span8 {
    width : 48%;
    height: 100%;
}

.row-fluid .span4 {
    border-left: 1px solid #e5e5e5;
    padding-top: 6px;
    padding-left: 18px;
    width: 39%;
    height: 1000px;
}

#json-view{
    width:600px;
    margin-bottom: 40px;
}

.jsonview ul li{
    line-height: 15px;
}

.acl-panel{
    height: 1000px;
}

.acl-adding-panel{
    display: none;
    width: 50%;
}

.acl-add-button {
    padding-right: 78%;
}

.acl-new {
    margin-top: 20px;
}

.acl-management {
    margin-top: 15px;
}

.role-management {
    display: None;
}

.breadcrumb {
    padding: 0;
    margin-left: 3px;
    margin-bottom: 15px;
}